
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'bebas';
  src: url('./BebasNeue-Regular.ttf') format('truetype');
}

* {
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;
  user-select: none;
}
.App {
  width: 100vw;
  height: 100vh;
  background-image: url('../public/images/bg.jpg');
   background-size: cover;

overflow: hidden;
}
.cover .popUpData {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  color: BLACK;
}

.container {
  width: 90vw;
  height: 85vh;
  margin: auto;
  top: 50vh;
  margin-top: -40vh;
  padding: 0;
  background: rgba(26, 22, 22, 0.438);
  position: relative;
  backdrop-filter: blur(60px);
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20% 80%;
}
.container::-webkit-scrollbar {
  display: none;
}