
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;
  user-select: none;
}
.App {
  width: 100vw;
  height: 100vh;
  background-image: url('../public/images/bg.jpg');
   background-size: cover;

overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  color: BLACK;
}

/*-------- App Css --------*/
p {
  color: white;
}
.container {
  width: 70vw;
  height: 80vh;
  margin: auto;
  top: 50vh;
  margin-top: -40vh;
  padding: 0;
  background: rgba(26, 22, 22, 0.438);
  position: relative;
  backdrop-filter: blur(60px);
  border-radius: 10px;
  overflow: hidden;
  display: grid;
}
.container::-webkit-scrollbar {
  display: none;
}
.cupsCount {
  margin: auto;
  width: 100%;
  height: 100%;

  color: white;
  display: grid;
  padding: 0;
  grid-template-rows: 10% 60% 10%;
  transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
}

.countWrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  
  display: grid;
  grid-template-columns: 50% 50%;
}
.counts {
  margin: auto;
  width: 70%;
  height: 60%;
  
   text-align: center;
   background: rgba(70, 61, 61, 0.199);
   display: grid;
   grid-template-rows: 70% 30%;
   text-align: center;
   align-items: center;
   border-radius: 3%;
   transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   
}
.counts:hover {
  background: rgba(94, 93, 93, 0.363);
  transform: scale(1.05);
}
.cupsDetails {
  margin: auto;
  text-align: center;
  padding: 1%;
  border-radius: 7%;

}
.cupsDetails:hover {
  cursor: pointer;
  background-color: rgba(224, 221, 221, 0.082);
  
}
.countTxt {
  font-size: 4.5vw;
  font-weight: 800;
  margin-bottom: 0%;
  color: rgba(241, 236, 236, 0.781);
}
.ctxt {
  font-weight: 100;
  font-size: 1.5vw;
  margin: auto;
  margin-top: -5%;
}
.cupsDateCurrent {
  text-align: center;
  font-weight: 1;
  font-size: 1vw;
  color: rgba(243, 238, 238, 0.514);
  

  
margin: auto;
}
.dashboard {
  display: none;
}