/*-------- App Css --------*/
@import url('../css/anim.css');

p {
  color: white;
}

.cupsCount {
  margin: auto;
  width: 100%;
  height: 100%;

  color: white;
  display: grid;
  padding: 0;
  grid-template-rows: 10% 90%;
  transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
}

.countWrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  
  grid-template-columns: 40% 60%;

}
.dashboardName {
  opacity: .6;
  font-size: 1.6vw;
  margin: auto;
  margin-left: 2%;
  margin-bottom: 0%;
}
.counts {
  margin: auto;
  width: 15vw;
  min-height: 15vw;
   text-align: center;
   background: rgba(70, 61, 61, 0.199);
   display: grid;
   grid-template-rows: 40% 10% 10% 40%;
   text-align: center;
   align-items: center;
   animation: pop .6s ;
   border-radius: 10%;
   transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   
   
}
.countsLine {
  margin: auto;
  width: 80%;
  height: 2%;
  background-color: rgba(167, 162, 162, 0.479);
  
}
.sideCountWrapRight {
  margin: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  

}
.sideCountWrapLeft {
  margin: auto;
  
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 45% 10% 45%;

}
.analytics {
  width: 90%;
  height: 80%;
  margin: auto;
  margin-left: 0%;
  display: grid;
  grid-template-columns: 100%;
}
.analyticsUp {
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
.chartright {
  
  width: 90%;
  height: 90%;
  margin: auto;
  margin-bottom: 0%;
  
}
.upChartLeft {
  display: grid;
  grid-template-columns: 100%;
  
}
.upPieChartUI {
margin: -50%;
margin-top: -30%;
transform: scale(.7);
  font-family: 'bebas';

  
}
.analyticsDown {
  background: rgba(70, 61, 61, 0.199);
  border-radius: 1.4vw;
  margin-top: -2%;

}

.downChartUI {
  transform: scale(.9);
  margin-top: -9%;
}
.counts:hover {
  background: rgba(94, 93, 93, 0.363);
  transform: scale(1.05);
}
.cupsDetails {
  margin: auto;
  text-align: center;
  padding: 1%;
  border-radius: .7vw;
  color:rgba(236, 234, 234, 0.726)
}
.cupsDetails:hover {
  cursor: pointer;
  background-color: rgba(171, 175, 172, 0.411);
  
}
.desaisI:hover {
  background-color: #0be71d25;
}
.doseH:hover {
  background-color: #fa9b2e46;
}
.desaisI {
  margin-bottom: 0%;
}
.countTxt {
  font-size: 4vw;
  font-weight: 800;
  
  color: rgba(241, 236, 236, 0.781);
  margin-bottom: -10%;
}
.ctxt {
  font-weight: 700;
  font-size: 1vw;
  margin: auto;
  
  color: rgba(189, 184, 184, 0.808);
}
.totalUsedCounts {
  margin: auto;
  text-align: center;
  font-size: .8vw;
  font-weight: 400;
  color: rgba(209, 206, 206, 0.452);
  
}
.tcb {
  text-align: center;
  font-weight: 1;
  font-size: 1vw;
  color: rgba(243, 238, 238, 0.514);
margin: auto;
}
.dashboard {
  display: none;
}
.totalUsedMetricsDiv {
  margin: auto;
  width: 90%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 1.4vw;
  display: grid;
  grid-template-rows: 40% 60%;
}
.totalUsedCounts {
  margin: auto;
  text-align: center;
  margin-top: 4%;
}
.totalUsedMetricsBar {
  margin: auto;
  width: 80%;
  height: 30%;
  background-color: rgba(73, 71, 71, 0.164);
  overflow: hidden;
  border-radius: 1vw;
}
.totalUsedMetricsBarChild {
  position: relative;
  height: 100%;
  width: 89%;
  border-radius: 1vw;
  }
.bar-ice {
  background: linear-gradient(to left, rgba(84, 238, 84, 0.123), rgba(0, 255, 21, 0.959), rgba(0, 255, 21, 0.959), rgba(84, 238, 84, 0.123)) ;
}
.bar-hot {
  width: 80%;
  background: linear-gradient(to left, rgba(253, 202, 107, 0.212), rgb(255, 108, 23), rgb(248, 97, 28), rgba(243, 180, 85, 0.288))
}